<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
    content="text/html";http-equiv="Content-Type">

    <title>Bulletin board </title>
</head>
<body>
    <h1>Ads</h1>
    <div>

        <a href="{% url 'index' %}">Main</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    <a href="{% url 'add' %}">ADD</a>
    {% for i in bbs %}
        <div>
        <h2>{{ i.title }}</h2>
        <p>{{ i.content }}</p>
        <p>{{ i.rubric.name }} </p>
        <p>{{ i.published|date}}</p>
        <p>{{ i.price }}</p>
        </div>
    {% endfor %}

</body>
</html>